<p>
    Date: <%= diagnosis.diagnosis_date %>
</p>
<p>
    Patient: <%= patient.firstName %> <%= patient.lastName %>
</p>
<p>
    Doctor: <%= doctor.firstName %> <%= doctor.lastName %>
</p>
<hr>
<p>
    <span style="text-decoration: underline">Diagnosis</span>
    <br>
    Severity: <%= diagnosis.severity %>
    <br>
    <img src="https://dredcore.herokuapp.com/<%= diagnosis.imagePath %>" alt="">
</p>
<p>
    Doctors's comments: <%= diagnosis.comment %>
</p>
<p>
    
</p>