<p>
    Date: <%= diagnosis.diagnosis_date %>
</p>
<p>
    Patient: <%= patient.firstName %> <%= patient.lastName %>
</p>
<p>
    Doctor: <%= doctor.firstName %> <%= doctor.lastName %>
</p>
<p>
    Diagnosis
    <hr><br>
    Severity: <%= diagnosis.severity %>
    <br>
    <img src="<%= diagnosis.imagePath %>" alt="">
</p>
<p>
    Doctors's comments: <%= diagnosis.comment %>
</p>
<p>
    
</p>