<p>
    Date: <%= diagnosis.diagnosis_date %>
</p>
<p>
    Patient: <%= patient.firstName %>
        <%= patient.lastName %>
</p>
<p>
    Doctor: <%= doctor.firstName %>
        <%= doctor.lastName %>
</p>
<hr>
<p>
    <b style="text-decoration: underline">System Diagnosis</b>
    <br>
    Severity: <%= diagnosis.severity %>
        <br>
</p>
<p>
    <b style="text-decoration: underline">Doctor's Comments</b>
    <br>
    Severity: <%= diagnosis.comment[0].severity %>
        <br>
        Comment: <%= diagnosis.comment[0].comment %>
            <img src="https://dredcore.herokuapp.com/<%= diagnosis.imagePath %>" alt="">
</p>
<p>
    <br>
    <br>
    <hr>
    <span>Diabetic Retinopathy Early Detection</span>
    <hr>
</p>